.nav-logo {
  padding: 0;
}

.nav-menu {
  display: none;
}

.nav-menu.active {
  left: 0;
}

.nav-item {
  margin: 40px 0;
}

.hamburger {
  display: block;
  cursor: pointer;
}

.main {
  background: #fff url(../img/bg-header-mobile.svg) no-repeat;
  background-position: 0, center;
  border-bottom-left-radius: 50px;
  padding: 114px 24px;
}

.intro {
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.description {
  font-size: 16px;
  padding: 12px 0;
}

.proj {
  grid-template-areas: none;
  display: flex;
  flex-direction: column;
  padding: 14px;
}

.proj1 {
  content: url(../img/snapshot1.png);
}

.proj2 {
  content: url(../img/snapshot2.png);
}

.proj3 {
  content: url(../img/snapshot3.png);
}

.proj4 {
  content: url(../img/snapshot4.png);
}

.proj-title {
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.proj-subt {
  margin: 12px 0;
  gap: 10px;
}

.proj-ssubt1 {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.proj-ssubt2 {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.proj-desc {
  margin: 0;
}

.proj-lang {
  padding: 12px 0;
}

.space {
  padding: 0;
  margin: 0;
}

.about {
  display: flex;
  grid-template-areas: none;
  flex-direction: column;
  padding: 24px;
}

.about-ext {
  flex: 0;
}

.flex1 {
  flex: 0;
  padding: 0;
}

.about-items {
  padding: 0;
}

.lang-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 140px;
  width: auto;
  height: auto;
}

.social {
  padding: 5px 0;
}

.social-icons {
  justify-content: flex-start;
}

.contact {
  background: #6070ff url(../img/bg-footer-mobile.svg) 70% no-repeat;
  flex-direction: column;
  padding: 24px;
  background-position-x: 138px;
}

.contact p {
  padding: 0;
}

.form {
  padding: 0;
}
